* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;

}

body {
  background: linear-gradient(135deg,#815F71 55%,#373151 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;


}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
  max-width: 468px;
  max-height: 784px;
  background: linear-gradient(135deg,#74BCCC,#D19357);
  border-radius: 20px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, .2);
}

.search{
  display: flex;
  justify-content: center;
  margin: 1.5em auto;
  width: 90%;
  max-width: 334px;
  max-height: 35px;
}

.input-search{
  width: 100%;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 1em;
  font-size: 1rem;
  padding: 1em .9em;
  outline: none;
}
.input-search::placeholder {
  opacity: .5;
}
.input-search:focus, .input-search:active {
  border-width: 2px; 
  border-color: #007BFF; 
  background-color: #f0f8ff; 
}

.temperature {
  position: relative;
  font-size: 4rem;

}
.degree {
  position: absolute;
  font-size: 3.5rem;
}

.weather {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: .6em;
}

.weather-container {
  width: 90%;
  text-align: center;
  margin-top: 1em;
}

.weather-icon {
  width: 100%;
  max-width: 224px;
  margin-bottom: .9em;
}

.city-name{
  font-size: 2.25rem;
  margin-bottom: 1.4em;
}

.extra-details{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.extra-details p {
  font-size: 1.25rem;
}

.extra-details div {
  box-sizing: border-box;
  min-width: 180px;
  border: #fff solid .2em;
  border-radius: .5em;
  padding: 1.7em 2.5em; 
}