* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: 1rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


div input, div button {
    font-size: 1rem;
    font-family: monospace;
    padding: .5em;
}

.todo-lists-grid {
    margin-top:.8em ;
}

.input-grid,.todo-lists-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: .8em;
    row-gap: .8em;
}

.add-todo-button, .delete-todo-button {
    border: none;
    color: white;
}

.add-todo-button {
    background-color: darkgreen;
}

.delete-todo-button {
    background-color: darkred;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}